.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.para{
  margin-top:25px;
  margin-left:625px;
  margin-right:625px;
  text-align: center;
  color: rgb(160, 160, 160 );
}

h1{
  padding-top: 100px;
  text-align: center;
}
.textbox{
  margin-left:750px;
  margin-right:750px;
  border-color: black;
}
.button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: blue;
    background-color: white;
    border: 1px solid blue;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 950px;
    margin-top: 80px;

    
}
